[submodule "lib/cardano-node"]
	path = lib/cardano-node
	url = git@github.com:tiredpixel/cardano-node.git
[submodule "lib/libsodium"]
	path = lib/libsodium
	url = git@github.com:input-output-hk/libsodium.git
